<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${tabTitle}">VisitorsList</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <!-- Content of the Specific Tab -->
  <div class="tab-content" th:fragment="content">
    <!-- Content of the Visitors Tab -->
    <h2>Visitor List</h2>
  
    <!-- Add Visitor Button -->
    <a th:href="@{'/admin/visitorEntities/add'}">Add Visitor</a>
  
    <!-- Visitor Table -->
    <table border="1">
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Category ID</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <!-- Loop through visitorEntities from the model -->
      <tr th:each="visitorEntity : ${visitorEntities}">
        <td th:text="${visitorEntity.id}"></td>
        <td th:text="${visitorEntity.name}"></td>
        <td th:text="${visitorEntity.email}"></td>
        <td th:text="${visitorEntity.phone}"></td>
        <td th:text="${visitorEntity.company}"></td>
        <td th:text="${visitorEntity.purpose}"></td>
        <td>
          <!-- Edit Visitor Button -->
          <a th:href="@{'/admin/visitorEntities/edit/' + ${visitorEntity.id}}">Edit</a>
          <!-- Delete Visitor Button -->
          <a th:href="@{'/admin/visitorEntities/delete/' + ${visitorEntity.id}}" onclick="return confirm('Are you sure?')">Delete</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</body>
</html>
